@using eBooks.Data
@model Author

<form asp-controller="Home" asp-action="EditAuthor">
    <input asp-for="Id" hidden />

    <label asp-for="ProfilePictureURL"></label>
    <input class="form-control" asp-for="ProfilePictureURL" />

    <label asp-for="FullName"></label>
    <input class="form-control" asp-for="FullName" />

    <label asp-for="Bio"></label>
    <input class="form-control" asp-for="Bio" />

    <button class="btn btn-primary">Edit</button>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Delete</button>
</form>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are you sure ?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button onclick="deleteAuthor()" type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>


<script>
    const deleteAuthor = () => {
        window.location = `/Home/DeleteAuthor/${@Model.Id}`
    }
</script>